button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px;
  border-radius: 8px;
}

button:hover {
  background-color: #6b6658;
}

.card {
  background: white;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.btn {
  background: #575244;
  color: white;
  padding: 10px;
  border-radius: 8px;
}

@import "tailwindcss";
